//color peletes
$main: #b12f9c;
$mainLight: #c353b0;

//background
//light mode
$lightBackround: #fdfdfd;
$softLightBackground: #cccccc;
//dark mode
$darkBackround: #151515;
$softDarkBackground: #3d3d3d;

//text
//light mode
$pLight: rgb(0, 0, 0);
$pSoftLight: rgb(40, 40, 40);
$titlesLight: black;
$titleSoftLight: rgb(40, 40, 40);
//dark mode
$pDark: rgb(255, 255, 255);
$pSoftDark: rgb(196, 196, 196);
$titlesDark: rgb(255, 255, 255);
$titleSoftDark: rgb(217, 217, 217);

//borders
//light mode
$lightBorder: rgba(109, 109, 109, 0.676); //will be used as hover too
//dark mode
$darkBorder: rgba(173, 173, 173, 0.628); //will be used as hover too

$themes: (
	light: (
		paragraphColor: $pLight,
		softParagraphColor: $pSoftLight,

		titleColor: $titlesLight,
		softTitleColor: $titleSoftLight,

		background: $lightBackround,
		softBackground: $softLightBackground,

		border: $lightBorder,

		icon: rgb(52, 52, 52),
		shadow: rgba(31, 31, 31, 1),
		hover: rgba(133, 133, 133, 0.171),
		glass: rgba(255, 255, 255, 0.22),
		//----filters
		a2: rgba(226, 87, 217, 0.645),
	),

	dark: (
		paragraphColor: $pDark,
		softParagraphColor: $pSoftDark,

		titleColor: $titlesDark,
		softTitleColor: $titleSoftDark,

		background: $darkBackround,
		softBackground: $softDarkBackground,

		border: $darkBorder,

		icon: rgb(236, 236, 236),
		shadow: rgba(227, 227, 227, 0.309),
		hover: rgba(133, 133, 133, 0.171),
		glass: rgba(12, 12, 12, 0.22),
		//----filters
		a2: rgba(249, 38, 235, 0.468),
	),
);

@mixin themify($themes) {
	@each $theme, $map in $themes {
		.theme-#{$theme} & {
			$theme-map: () !global;
			@each $key, $submap in $map {
				$value: map-get(map-get($themes, $theme), "#{$key}");
				$theme-map: map-merge(
					$theme-map,
					(
						$key: $value,
					)
				) !global;
			}
			@content;
			$theme-map: null !global;
		}
	}
}

@function themed($key) {
	@return map-get($theme-map, $key);
}
