@import "../theme/theme.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.theme-dark {
	background-color: $darkBackround;
	color: white;
}

.theme-light {
	background-color: $lightBackround;
	color: black;
}

h1 {
	font-family: var(--font-poppins);
}

h2 {
	font-family: var(--font-poppins);
}
h3 {
	font-family: var(--font-poppins);
}
h4 {
	font-family: var(--font-poppins);
}
h5 {
	font-family: var(--font-poppins);
}
h6 {
	font-family: var(--font-poppins);
}
p {
	font-family: var(--font-poppins);
}
